@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #141519;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

div#container {
    background-color: #212832;
    width: 409px;
    height: 414px;
    border-radius: 30px;
}

div#image-div {
    background-color: #1f2630;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    border-radius: 30px;
}

div#result-div {
    background-color: #1f2630;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#text > h2 {
    background-color: #1f2630;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #feffff;
}

div#text > p {
    background-color: #1f2630;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #feffff;
    border-radius: 30px;
}

div#result {
    background-color: #262f38;
    color: #cb8552;
    height: 31px;
    width: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

div#text {
    border-radius: 30px;
}